# Enable the rewrite engine
RewriteEngine On

# Redirect from www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Redirect HTTP requests to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Remove .html extension from URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Redirect /about.html to /about
RewriteRule ^about$ /about.html [L,R=301]

# Canonical URL for homepage
RewriteCond %{HTTP_HOST} ^leozhi\.ca$ [NC]
RewriteRule ^$ https://leozhi.ca/ [L,R=301]

# Canonical URL for /about page
RewriteCond %{HTTP_HOST} ^leozhi\.ca$ [NC]
RewriteRule ^about.html$ https://leozhi.ca/about [L,R=301]
