<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Projects</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Hop On</a></li>
          <li><a href="#">Swim Sensei</a></li>
          <li><a href="#">This Website</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Learning</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Studios Lumiere</a></li>
          <li><a href="#">Misssion Statement</a></li>
          <li><a href="#">Join Now</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">About Me</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Who Am I</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Contact</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="mailto:leozhi6869@gmail.com" target="_blank"> Send me an email</a></li>
          <li><a href="https://www.linkedin.com/in/leozhi/" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/LeoZhii" target="_blank">Github</a></li>
        </ul>
      </div>
    </section>
    <div class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright © 2023 Leo Zhi</p>
    </div>
  </div>
</footer>