<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Beginner</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description">Learn Python</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Four Months of Live Lessons</li>
            <li class="list__item">Learn how to code in Python</li>
            <li class="list__item">Covers variables and loops</li>
            <li class="list__item">24/7 Assistance</li>
          </ul>
          <button class="btn btn--outline btn--block">Join Now</button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Intermediate</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--primary badge--small">10% OFF</span>
          <span class="plan__description">Learn Python</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Four Months of Live Lessons</li>
            <li class="list__item">Learn how to code in python</li>
            <li class="list__item">Covers functions and modules</li>
            <li class="list__item">24/7 Assistance</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Advanced</h3>
          <span class="plan__price">$14</span>
          <span class="plan__billing-cycle">/month</span>
          <span class="badge badge--secondary badge--small">10% OFF</span>
          <span class="plan__description">Learn Python</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Learn Object Oriented Programming</li>
            <li class="list__item">Build a discord bot</li>
            <li class="list__item">Covers Inheritance, Polymorphism</li>
            <li class="list__item">24/7 Assistance</li>
          </ul>
          <button class="btn btn--outline btn--block">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</section>