<nav class="nav collapsible">
  <a class="nav__brand" href="/"><img src="images/logo.svg" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="projects.html">My Projects</a></li>
    <li class="nav__item"><a href="#">Lumiere Learning</a></li>
    <li class="nav__item"><a href="#">Resume</a></li>
    <li class="nav__item"><a href="#">About Me</a></li>
  </ul>
</nav>